# -------------------------
# Virtual Environment
# -------------------------
dfa/

# -------------------------
# Python cache files
# -------------------------
__pycache__/
*.pyc

# -------------------------
# macOS system files
# -------------------------
.DS_Store


# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Temporary editor files
# -------------------------
*.swp
*.swo
*.idea/
.vscode/

# -------------------------
# Misc
# -------------------------
*.tmp
